header {
  background-image: url('imagens/background\ amarelo.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 0 20px; 
  box-sizing: border-box;
}

header h1 {
  margin: 0;
  color: green;
  font-size: 50px;
}

header p {
  color: green;
  text-align: center;
  font-size: 20px;

}

main {
  background-image: url('imagens/Background\ green.jpg'); 
  background-size: cover; 
  background-position: center; 

}

.petrobras {
  max-width: 400px;
  max-height: 400px;
  text-align: center;
  margin: auto;

}

.index-text {
  color: yellow;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px; 
  width: 98%; 
  text-justify: center;
}

.fonte_ref {
  color: green;
  font-weight: bold;
}

footer {
  color: yellow;
  text-align: center; 
  padding: 20px;
}
